@model MFAInventorySystem.Models.tb_stockhistory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Stock Out Record Details</h4>
    </div>
    <div class="card-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.sh_qtySlot)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sh_qtySlot)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.sh_untungBersih)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sh_untungBersih)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.sh_date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sh_date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.sh_qtySold)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sh_qtySold)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tb_stock.s_product)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tb_stock.s_product)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tb_user.u_name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tb_user.u_name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tb_vendingmachine.v_location)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tb_vendingmachine.v_location)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.sh_id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
        </div></div>
