@model IEnumerable<MFAInventorySystem.Models.tb_stockhistory>

@{
    ViewBag.Title = "Stock Out List";
    Layout = null;
}


<!-- Begin Page Content -->
<div class="container-fluid">
    @if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["AlertMessage"]
        </div>

    }
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-primary">Stocks Out</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table id="example1" class="table table-striped table-bordered table-hover table-sm" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.sh_qtySlot)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.sh_untungBersih)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.sh_date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.sh_qtySold)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tb_stock.s_product)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tb_vendingmachine.v_location)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.sh_qtySlot)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.sh_untungBersih)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.sh_date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.sh_qtySold)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tb_stock.s_product)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tb_vendingmachine.v_location)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>