@model MFAInventorySystem.Models.tb_user

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Password</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.u_id)
        @Html.HiddenFor(model => model.u_name)
        @Html.HiddenFor(model => model.u_contact)
        @Html.HiddenFor(model => model.u_email)
        @Html.HiddenFor(model => model.u_type)


        <div class="form-group">
            @Html.LabelFor(model => model.u_pw, "New Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.u_pw, new { htmlAttributes = new { @class = "form-control", type = "password", id = "pwd1" } })
                @Html.ValidationMessageFor(model => model.u_pw, "", new { @class = "text-danger" })
                <input type="checkbox" onclick="myFunction1()">  Show Password
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Confirm Password </label>
            <div class="col-md-10">
                <input class="form-control" type="password" id="pwd2">
                <input type="checkbox" onclick="myFunction2()">  Show Password
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" onclick="return matchPassword()" />
            </div>
        </div>
    </div>
}


<script>
    function matchPassword() {
            var pw1 = document.getElementById("pwd1");
            var pw2 = document.getElementById("pwd2");
            if (pw1.value != pw2.value) {
                alert("Password not match!");
                return false;
            } else {
                alert("Password successfully changed!");
                return true;
            }
        }

        function myFunction1() {
            var x = document.getElementById("pwd1");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }

        function myFunction2() {
            var x = document.getElementById("pwd2");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }</script>
<div>

</div>
