@model MFAInventorySystem.Models.tb_report

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Delete Report</h4>
    </div>
    <div class="card-body">
        <div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.r_name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.r_name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.r_desc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.r_desc)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.r_date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.r_date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.r_profits)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.r_profits)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.r_capitals)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.r_capitals)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tb_vendingmachine.v_location)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tb_vendingmachine.v_location)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tb_stock.s_product)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tb_stock.s_product)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Confirm to delete?')" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div></div></div>
