@model MFAInventorySystem.Models.tb_report

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Report Details</h4>
    </div>
    
    <div style="text-align:right">
        <input type="button" value="Print"
               onclick="JavaScript:printPartOfPage('printArea');" />
    </div>
    <div class="card-body">
        <div id="printArea">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.r_name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.r_name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.r_desc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.r_desc)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.r_date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.r_date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.r_profits)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.r_profits)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.r_capitals)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.r_capitals)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tb_vendingmachine.v_location)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tb_vendingmachine.v_location)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tb_stock.s_product)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tb_stock.s_product)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.r_id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>


<!--
   <script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>
<script>
    function printContents(printArea) {
        var printContent = document.getElementById(printArea);
        var WinPrint = window.open('', '', 'width=900,height=650');
        WinPrint.document.write(printContent.innerHTML);
        WinPrint.document.close();
        WinPrint.focus();
        WinPrint.print();
        WinPrint.close();
    }
</script>
    -->

<script type="text/javascript">
<!--
function printPartOfPage(elementId) {
var printContent = document.getElementById(elementId);
var windowUrl = 'Repert Details';
var uniqueName = new Date();
var windowName = 'Print' + uniqueName.getTime();
var printWindow = window.open(windowUrl, windowName, 'left=50000,top=50000,width=0,height=0');
printWindow.document.write(printContent.innerHTML);
printWindow.document.close();
printWindow.focus();
printWindow.print();
printWindow.close();
}
// -->
</script>
