@model IEnumerable<MFAInventorySystem.Models.tb_report>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    @if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["AlertMessage"]
        </div>

    }
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-primary" style="float:left;">Manage Report</h4>
            <!--@Html.ActionLink("Print", "PrintAll", null, new { @class = "btn btn-outline-dark", style = "float:right;" }) -->
        </div>
        <div>
            <input type="button" value="Print" onclick="JavaScript:printPartOfPage('printArea');" />
        </div>
        <div class="card-body" id="printArea">
            <p>
                @Html.ActionLink("Create Stock Report", "CreateStock", null, new { @class = "btn btn-primary" })
                @Html.ActionLink("Create Vending Machine Report", "CreateVending", null, new { @class = "btn btn-primary" })
            </p>

            @using (Html.BeginForm("Index", "Report", FormMethod.Get))
            {
                <fieldset>
                    <legend>Search criteria</legend>
                    @Html.Label("startdate", "Start Date:")
                    <input class="startdate" id="startdate" name="startdate" type="date" value="">
                    @Html.Label("enddate", "End Date:")
                    <input class="enddate" id="enddate" name="enddate" type="date" value="">
                    <input type="submit" value="Apply" />
                </fieldset>
            }

            <table id="example1" class="table table-striped table-bordered table-hover table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.r_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.r_desc)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.r_date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.r_profits)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.r_capitals)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.tb_vendingmachine.v_location)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.tb_stock.s_product)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.r_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.r_desc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.r_date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.r_profits)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.r_capitals)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tb_vendingmachine.v_location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tb_stock.s_product)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { id = item.r_id }, new { @class = "btn btn-secondary btnStyle" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.r_id }, new { @class = "btn btn-danger btnStyle" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
<!--
function printPartOfPage(elementId) {
var printContent = document.getElementById(elementId);
var windowUrl = 'Repert Details';
var uniqueName = new Date();
var windowName = 'Print' + uniqueName.getTime();
var printWindow = window.open(windowUrl, windowName, 'left=50000,top=50000,width=0,height=0');
printWindow.document.write(printContent.innerHTML);
printWindow.document.close();
printWindow.focus();
printWindow.print();
printWindow.close();
}
// -->
</script>
