@model MFAInventorySystem.Models.tb_stock

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Stock Details</h4>
    </div>
    <div class="card-body">
        <div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.s_product)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.s_product)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.s_qty)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.s_qty)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.s_modal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.s_modal)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.s_hargaJualan)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.s_hargaJualan)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.s_untungBersihPerTin)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.s_untungBersihPerTin)
                </dd>

            </dl>
        </div></div></div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.s_id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
