@model IEnumerable<MFAInventorySystem.Models.tb_stock>

@{
    ViewBag.Title = "Stocks List";
    Layout = null;
}

<!-- Begin Page Content -->
<div class="container-fluid">
    @if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["AlertMessage"]
        </div>

    }
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-primary">Stocks</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="example1" class="table table-striped table-bordered table-hover table-sm" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.s_product)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.s_qty)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.s_modal)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.s_hargaJualan)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.s_untungBersihPerTin)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.s_product)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.s_qty)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.s_modal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.s_hargaJualan)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.s_untungBersihPerTin)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>