@model MFAInventorySystem.Models.tb_vendingmachine

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-primary">Delete Vending Machine</h4>
        </div>
        <div class="card-body">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.v_location)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.v_location)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.v_cashInSlot)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.v_cashInSlot)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.v_profit)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.v_profit)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Confirm to delete?')" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
            </div>
        </div>
        </div>
